{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="elements">
        {% for elem in group1 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group3 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group10 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
        <div class="element">
            <small>*</small>
            <center><h1>X</h1></center>
            <center><small>Lantanowce</small></center>
        </div>
        <div class="element">
            <small>**</small>
            <center><h1>X</h1></center>
            <center><small>Aktynowce</small></center>
        </div>
    </div>
    <div class="elements">
        {% for elem in group11 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group12 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group13 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group14 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group15 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group16 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group17 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group18 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group19 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group4 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group5 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group6 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group7 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group8 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
    <div class="elements">
        {% for elem in group2 %}
        <div class="element">
            <small>{{elem.period}}</small>
            <small class="atomic_weight">{{elem.atomic_weight}}</small>
            <center><h1>{{elem.symbol}}</h1></center>
            <center><small>{{elem.name}}</small></center>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}